h1 {
    text-align: center;
    width: auto;
    font-size: 50px;
    font-weight: bold;
}

div {
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: beige;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit_log{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(156, 183, 235);
}

#submit_log:hover{
    border-radius: 15px;
    background-color: rgb(99, 146, 233);
}